.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    z-index: 100;

}
.left-section{
    display: flex;
    align-items: center;
}

div.hamburgerdiv {
    align-items: center;
    padding: 8px;
    padding-top: 10px;
    text-align: center;
    border-radius: 50%;
    height: 24x;
    width: 24px;
    cursor: pointer;
}

div.hamburgerdiv:hover {
    background-color: rgba(0, 0, 0, 0.10);
}
.hamburger{
    /* margin-top: 10px; */
    height: 18px;
    text-align: center;
}

div.logo {
    padding-bottom: 18px;
    padding-top: 18px;
    padding-left: 16px;
    padding-right: 14px;
    cursor: pointer;
    position: relative;
}


.yt-logo{
    height: 20px;
}

.mid-section{
    display: flex;
    flex: 1;
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 1;
    /* margin-left: 70px;
    margin-right: 35px; */
    min-width: 0px;
    max-width: 732px;
    align-items: center;
}
.search{
    flex: 1;
    height: 40px;
    width: 515.2px;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 40px;
    font-size: 15px;
    border-width: 1px;
    border-style: solid ;
    border-color: rgb(192, 190, 188);
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.05);
}
.search::placeholder{
    padding-left: 16px;
    padding-right: 4px;
    font-family: Roboto, Arial;
}
.search-icon{
    height: 25px;
    margin-top: 4px;
}
.search-button{
    height: 40px;
    width: 66px;
    background-color: rgb(248, 248, 248);
    border-width:1px ;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-style: solid;
    cursor: pointer;
}

.search-button:hover {
    border-color: rgb(198, 198, 198);
    background-color: rgb(240, 240, 240);

}
.voice-button{
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(248, 248, 248);
    cursor: pointer;
}

.voice-button:hover {
    background-color: rgba(0, 0, 0, 0.13);
}
.voice-icon{
    height: 24px;
    margin-top: 2px;
}
.right-section{
    width: 200px;
    display: flex;
    align-items: center;
   justify-content: space-between;
   margin-right: 20px;
}

button.create {
    cursor: pointer;
    height: 36px;
    border-width: 0px;
    border-style: none;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    gap: 8px;
    align-items: center;
    border-radius: 18px;
    padding-left: 16px;
    padding-right: 16px;
}

img.plus_icon {
    height: 18px;
    width: 18px;
}

button.create:hover {
    background-color: rgba(0, 0, 0, 0.11);
}

button.notification {
    cursor: pointer;
    height: 40px;
    width: 40px;
    background-color: white;
    border-width: 0px;
    border-style: none;
    border-radius: 50%;
}

.notification:hover {
    background-color: rgba(0, 0, 0, 0.13);
}

img.notify_icon {
    height: 24px;
    width: 23px;
}

img.my_profile {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    cursor: pointer;
}

.voice-button, .notification, .create{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.voice-button .toolsname {
    position: absolute;
    bottom: -48px;
    font-size: 11px;
    letter-spacing: 0.08px;
    font-family: Roboto, Arial;
    background-color: black;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 12px;
    padding-top: 12px;
    border-radius: 5px;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
}

.voice-button:hover .toolsname {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6);
    transition-delay: 0.2s;
}

.notification .toolsname {
    position: absolute;
    bottom: -40px;
    font-size: 11px;
    letter-spacing: 0.08px;
    font-family: Roboto, Arial;
    background-color: black;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 12px;
    padding-top: 12px;
    border-radius: 5px;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
}

.notification:hover .toolsname {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6);
    transition-delay: 0.2s;
}
.create .toolsname {
    position: absolute;
    bottom: -40px;
    font-size: 11px;
    letter-spacing: 0.08px;
    font-family: Roboto, Arial;
    background-color: black;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 12px;
    padding-top: 12px;
    border-radius: 5px;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
}

.create:hover .toolsname {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6);
    transition-delay: 0.2s;
}

@media (max-width: 720px) {
    .right-section {
        width: 100px;
    }
   }
   @media (max-width: 720px) {
       button.create {
           display: none;
       }
      }
 @media (max-width: 630px) {
     .notification {
         display: none;
     }
    }
 @media (max-width: 630px) {
     .right-section {
        width: 60px;
     }
    }
    
@media (max-width: 630px) {
        div.profile {
            position: absolute;
            right: 10px;
        }
        .right-section {
           width: 40px;
        }
}
@media (max-width: 530px) {
     .voice-button {
        display: none;
     }
    }
